/*
Theme Name: SKT Trust
Theme URI: https://www.sktthemes.net/shop/non-profit-wordpress-theme
Author: SKT Themes
Author URI: https://www.sktthemes.net
Description: SKT Trust is a Non Profit WordPress theme which can be used for charity, NGO, donation, type of websites apart from personal, commercial, small and medium business and enterprises and responsive multipurpose and multiconcept websites. Translation ready and mobile ready and eCommerce and gallery and portfolio ready. Demo: http://sktthemesdemo.net/trust/
Version: pro1.0
License: GNU General Public License version 3
License URI: license.txt
Text Domain: skt-trust
Tags:news, blog, education, portfolio, one-column, two-columns, left-sidebar, right-sidebar, full-width-template, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
SKT Trust WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
SKT Trust WordPress Theme is released under the terms of GNU GPL
*/

*{ margin:0; padding:0; outline:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
body{margin:0; padding:0; -ms-word-wrap:break-word; word-wrap:break-word; line-height:20px;}
#main{margin:0; padding:0;}
img{ margin:0; padding:0; border:none;}
section img, img{max-width:100%; height:auto; vertical-align:middle;}
h1,h2,h3,h4,h5,h6{ margin:0 0 20px; padding:0; line-height:100%; font-weight:300; font-family: 'Lato', sans-serif; color:#242424;}
h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:20px;}
h4{font-size:18px; font-weight:bold;}
h5{font-size:16px;}
h6{font-size:14px;}
.left{float:left;}
.right{float:right;}
.displaynone{ display:none;}
p{ margin:0; padding:0 0 20px 0;}
a{ color:#ffd800; text-decoration:none; outline:none; -webkit-transition:all 0.6s ease-in-out; -moz-transition:all 0.6s ease-in-out; -ms-transition:all 0.6s ease-in-out; -o-transition:all 0.6s ease-in-out; transition:all 0.6s ease-in-out;}
a:hover{color:#f08b08; text-decoration:none; outline:none;}
ul{ list-style:none; margin:0; padding:0;}
article ul, article ol{ margin:0 0 15px 15px;}
article ul li{ list-style: disc;}
.custom-height{ min-height:20px;}
.clear{ clear:both;}
.middle-align{ margin:0 auto; padding:0;}
.wp-caption{ margin:0; padding:0; font-size:13px; max-width:100%;}
.wp-caption-text{ margin:0; padding:0;}
.wp-caption img{border:0; height:auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}
/* Text meant only for screen readers. */
.bypostauthor{ margin:0; padding:0;}
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px); position: absolute !important;	height: 1px; width: 1px; overflow: hidden; display:none;}
.screen-reader-text:focus {background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b;	display: block;	font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none;	top: 5px; width: auto; z-index: 100000;}
.sticky{ margin:0; padding:0;}
.gallery-caption{ margin:0; padding:0;}
.alignleft, img.alignleft {display: inline; float: left; margin:0 20px 10px 0; padding:0; }
.alignright, img.alignright { display: inline; float: right; margin:0 0 10px 20px;}
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top:0; }
.comments-area{ margin-bottom:15px;}
.comment-list .comment-content ul { list-style:none; margin-left:15px;}
.comment-list .comment-content ul li{margin:5px;}
.main-container ol{list-style-position:outside; margin-left:20px;}
.main-container ol li{margin:5px 0;}
.toggleMenu{display:none;}
section{padding:40px 0; position:relative;}
section h2.section_title {text-align:center; margin-bottom:40px;}
h2.section_title{font-weight:700; font-family:'Lato'; font-size:32px; color:#3a3a3a; margin:auto auto 30px; padding:0; text-transform:capitalize;}
#slider{ width:100%; margin:0; padding:0; position:relative; }

/* Header Top */
.header-top {display:block; width:100%; background:#ffd800; font-size:14px; line-height:36px;}
.header-top, .header-top a {color:#282828;}
.header-top ul li {display:inline-block; padding:0 15px;}
.header-top .header-top-left {float:left; width:50%;}
.header-top .header-top-left ul li:first-child {padding-left:0;}
.header-top .header-top-left i {padding-right:5px;}

.header-top .header-top-right {float:right; width:50%;}
.header-top .social-icons {float:right; margin:0; padding:0; border-right:solid 1px #282828;} 
.header-top .social-icons a {display:table; background:transparent; border-width:0 0  0 1px; border-style:solid; border-radius:0; border-left-color:#282828; margin:0; padding:0 15px; line-height:36px;}


.header .header-inner .logo{float:left; margin:0; width:27%; padding:22px 0; text-align:left; position:relative; z-index:999;}
.header .header-inner .logo img{width:auto; height:37px;}
.header .header-inner{width:100%; margin:0 auto; padding:0; position:relative; z-index:999; background:#26211d;}
.header .header-inner .logo h2{margin:0px; line-height:100%;}
.header .header-inner .logo h2 span {font-weight:700;}
.header .header-inner .logo span.tagline{ margin:0; padding:0; display:block;}
.header .header-inner .logo a {display:block;}

/*header menu css*/
.toggle a{width:100%; height:40px; color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat center right #ffe401; padding:0 20px; margin:0; font-size:16px; line-height:40px; font-weight:700;}
.nav{display:none;}
.header{width:100%; height:auto; padding:0; position:relative; margin-bottom:65px;}
/* = innerbanner css -------------------------------------------------------------- */
.innerbanner{text-align:center; position:relative; height:375px; overflow:hidden;}
.innerbanner img{ position: relative; background-size:cover; width:100%; min-height:375px;}
.header-custom {position:absolute; top:0; width:100%; height:100%; overflow:hidden; z-index:0;}
.header .header-inner .nav{position:relative; z-index:9999; padding:0; float:right;}
.header .header-inner .nav ul li{float:left; padding:0; margin:0 0 0 1px; position:relative;}
.header .header-inner .nav ul li a{display:block; padding:0 15px; line-height:105px; color:#ffffff; font-size:15px; transition:all ease 300ms;}

.header .header-inner .nav ul li ul{display:none;}
.header .header-inner .nav ul li:hover ul{display:block; position:absolute; width:200px;}
.header .header-inner .nav ul li ul li {float:none; display:block; margin:0;}
.header .header-inner .nav ul li ul li a {padding:6px 18px; line-height:18px; border-bottom:solid 1px #e3e2e2;}
.header .header-inner .nav ul li ul li ul {display:none;}
.header .header-inner .nav ul li ul li:hover ul {left:200px; top:0;}

.social-icons a {float:left; line-height:30px; width:30px; height:30px; background:#302f2f; padding:0; text-align:center; font-size:14px; border-radius:50px; margin:0 5px 8px 0; color:#fff;}
.social-icons a:hover {background:#ffd800;}

.footer .social-icons {margin-top:25px;}
.footer .social-icons a{width:24px; height:24px; line-height:24px; font-size:12px;}
/* = social icons css
-------------------------------------------------------------- */
.social-icons br{ display:none;}
/*search form css*/
.searchbox, .woocommerce-product-search{position:relative;min-width:35px;width:100%;height:40px;float:right;overflow:hidden;padding-left:0;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;-ms-transition: width 0.3s;-o-transition: width 0.3s;transition: width 0.3s;}
.searchbox-input, #sidebar form.woocommerce-product-search input[type="search"]{top:0;right:0;border:0;outline:0;background:#ece8e8;width:100%;height:41px;margin:0;padding:0px 55px 0px 20px;font-size:13px;color:#7f7f7f;}
.searchbox-input::-webkit-input-placeholder{color:#7f7f7f;}
.searchbox-input:-moz-placeholder{color:#7f7f7f;}
.searchbox-input::-moz-placeholder{color:#7f7f7f;}
.searchbox-input:-ms-input-placeholder{color: #7f7f7f;}
.searchbox-icon, .searchbox-submit, #sidebar .woocommerce-product-search input[type="submit"] {width:35px;height:40px;display:block;position:absolute;top:0; font-family:verdana; font-size:22px; right:0; padding:0 !important; margin:0 !important; border:0 !important; outline:0; line-height:40px; text-align:center; cursor:pointer; color:#dcddd8; background:url(images/search-icon.png) no-repeat center center #ffd800; text-indent:-1000px;}
.searchbox-open{ width:40%;}
#sidebar .searchbox-open{ width:100%;}
#sidebar form.searchbox {margin-bottom:30px;}
/* = section first css
-------------------------------------------------------------- */
.container {width:1170px; margin:auto;}
/*  Our Blog  */
.blankspace{ height:60px; clear:both;}
.latestnews {position:relative; display:table; width:auto; margin:auto;}
.news-box{display:inline-block; vertical-align:top; width:267.6px; position:relative; padding:0; margin:0 30px 30px 0; min-height:520px;}
.news-thumb{width:100%; overflow:hidden; position:relative; margin-bottom:25px; height:248px;}
.news-box .news-thumb img{ margin:0; padding:0; width:100%; height:auto; min-height:248px;}
.news {display:block; width:100%; text-align:left; line-height:20px;}
.news p {padding:20px 0;}
.news-box h5 {padding:0; margin:0 0 12px;}
.news-posts-comments {display:inline-block;}
.news-posts-comments i, .news-posts-share i {margin:0 5px 0 0;}
.news-box:hover .news-thumb img {}
.news iframe {width:100%; min-height:425px; border:0;}

.news-box .read-more {position:absolute; left:0; bottom:0;}

/* post layout 2 */
.admin-post , .post-date {display:inline; text-transform:capitalize; margin-right:10px; font-size:12px;} 
.admin-post i, .post-date i{font-size:14px; margin-right:5px;} 
.user-comment{background:rgba(0, 0, 0, 0.5); position:relative; margin-top:-42px; padding:12px 20px; font:normal 13px 'Lato'; text-transform:uppercase; color:#fff;}
.user-comment a{ color:#fff;}
.right-thumb-content{ float:right; width:78%;}
.date-news{margin:0; background:#fff; border:solid 1px #e6e6e6; float:left; text-transform:uppercase; padding:0; width:70px; font:bold 14px 'Lato'; z-index:999; position:relative; text-align:center;}
.date-news .byadmin-date{font-size:27px; color:#f5881f; display:inline-block; padding:10px 15px; border-bottom: 1px solid #e7e7e7;}
.date-news .byadmin-month{font-size:15px; color:#a0a0a0; display:inline-block; padding:15px;}
.date-news .byadmin-comment{background:#ffd800;padding:25px 0; display:inline-block; width:100%;}
.date-news .byadmin-comment a{ color:#fff;}
#sitemain .date-news, .nosidebar .date-news{ width:45px;}
#sitemain .date-news .byadmin-date, .nosidebar .date-news .byadmin-date, #sitemain .date-news .byadmin-month, .nosidebar .date-news .byadmin-month{ padding-left:0; padding-right:0;}
#sitemain .user-comment, .user-comment{padding-left:10px; padding-right:10px;}

.section-teammember {display:table; margin:auto;}
.ourteam_col{display:inline-block; width:270px; margin:0 30px 30px 0; position:relative; padding:0; vertical-align:top;}
.ourteam_content {padding:0 0 15px;}
.ourteam_thumb{position:relative; width:100%; height:250px; overflow:hidden; margin-bottom:20px;}
.ourteam_thumb a {display:block;}
.ourteam_thumb a:hover img {transform:scale(1.1); opacity:0.7;}
.ourteam_thumb img {display:block; width:100%; height:auto; min-height:250px; margin-bottom:0px; transition:all ease-in-out 500ms;}
.ourteam_col h5{margin:0; padding:0 0 10px; transition:all ease 500ms;}
.member-desination{padding-bottom:15px; display:block;}

.team-social-icon{display:block;}
.single-team .social-icons{display:inline-block; margin-bottom:20px;}
.ourteam_content h6 {margin-bottom:15px; font-size:13px;}
.team-social-icon a:hover {background:#454545; color:#fff;}
.ourteam_content p {padding-bottom:0;}
.ourteam_content .read-more {font-size:12px; padding:0 15px; line-height:32px;}
.member-desination {margin-bottom:20px; padding-bottom:0;}
.read-more.center {margin:50px auto auto; display:table;}
.page-template-template-staff .section-teammember a.read-more.center {display:none;}
#sitemain .ourteam_thumb, .nosidebar .ourteam_thumb{min-height:inherit;}
#sitemain .team-social-icon a, .nosidebar .team-social-icon a{width:40px;}

/* Testimonial */
#testimonial-section {padding:50px 0 30px 0; background-attachment:fixed;}
.our-testimonials i {float:left; margin:-20px 5px 0 0; color:#ffd800;}
#testimonial-section .view-all-btn {margin-top:30px;}
#testimonial-section .our-testimonials, section .our-testimonials {width:1000px; margin:auto; padding:0; background:none !important; padding:0;}
.our-testimonials {background:#282828; width:100%; text-align:center; padding:50px 50px 10px; margin-bottom:20px;}

.testimonial-content h5 {color:#f6f4f4; margin:10px 0;}
.testimonial-content {margin-bottom:0; line-height:20px; font-size:14px;}
.testimonial-content p {display:table; font-style:italic; padding-bottom:40px;}
.testimonial-thumb {margin:auto; width:70px; height:70px; overflow:hidden; border-radius:50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; -moz-border-radius: 50%; z-index:999;}
.testimonial-thumb img {width:100%; height:auto; min-height:70px;}
.testimonial-item {padding-top:20px;}

.owl-carousel .owl-controls .owl-nav .owl-prev {left:-7%;}
.owl-carousel .owl-controls .owl-nav .owl-next {right:-7%;}
.our-testimonials .owl-theme .owl-dots .owl-dot span {width:10px; height:10px; margin:0 2px;}
.view-all-testimonials .testimonial-col {display:inline-block; vertical-align:top; width:48%; margin:0 3.6% 40px 0; position:relative;}
.view-all-testimonials .tm_description i.fa {left:20px; position:absolute; top:25px;}
.view-all-testimonials .tm_description {padding:20px 20px 20px 50px; position:relative; border-radius:5px;}
.view-all-testimonials .tm_description p {padding:0; margin:0;}
.view-all-testimonials  .testimonial-thumb {position:inherit; float:left; margin:30px 20px 0;}
.testimonial-right {margin-top:50px;}
.testimonial-right h5 {margin-bottom:5px;}
.tm_description::after {content:''; border-top:solid 18px #f5f5f5; border-left:solid 14px transparent; border-right:solid 14px transparent; position:absolute;  bottom:-18px; left:42px;}
.owl-theme .owl-controls {margin:5px 0 0 0;}


#sidebar .client-say{ width:auto; margin:0;}
#sidebar .tm_description{ display:block;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{width:22%;}
.last{margin-right:0 !important;}
.view-all-btn{ text-align:center;}
.view-all-btn a{ font:400 14px/40px 'Lato', sans-serif; color:#454545; padding:0 28px; display:inline-block; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
h2.heading{ padding:20px 0;}
.underline{ border-bottom:1px solid #efeded;}
/* --------- Pages ------- */
.content-area{width:1170px; margin:auto; padding:0;}
.site-main{ width:65%; margin:0; padding:0; float:left;}
.sitefull{ width:100% !important;}
#sidebar{ width:30%; float:right;}
.sidebar-left{ float:left !important; width:30%;}
.sidebar-left #sidebar { width:100%;}
.flotRight{ float:right !important;}
/*sidebar css*/
aside.widget{margin-bottom:30px; background-color:#f9f9f9; padding:20px; display:inline-block; width:100%; box-sizing:border-box;}
aside.widget ul{ list-style:disc; }
h3.widget-title{ background-color:#ffd800; padding:12px 15px; margin-bottom:1px; color:#fff;}
#sidebar #contactform_main input[type=text], #sidebar #contactform_main input[type=email], #sidebar #contactform_main input[type=tel],#sidebar #contactform_main input[type=url], #sidebar #contactform_main textarea{width:100%; }

#sidebar ul li, .category-post li { list-style:none; border-bottom:1px dashed #d0cfcf;  background:url(images/sidebar-arrow.png) no-repeat 0 16px; padding:10px 0 10px 20px; }
#sidebar ul li a {display:block;}
#sidebar ul li:last-child, .category-post li:last-child { border:none; padding-bottom:0;}
.nosidebar{ float:none !important; margin:0 auto;}
/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{ background-color:#c1d0d9; position:relative; line-height:20px; color:#fff; padding:0; border-top:solid 6px #ffd800;}
.footer {width:auto; padding:30px 0;}
.cols-1, .cols-2, .cols-3, .cols-4{ padding-top:0;}
.cols-2 .widget-column-1{width:47%; float:left; margin:0 6% 0% 0;}
.cols-2 .widget-column-2{width:47%; float:left; margin-right:0px;}
.cols-3 .widget-column-1{width:30%; float:left; margin:0;}
.cols-3 .widget-column-2{width:32%; float:left; margin:0 3%;}
.cols-3 .widget-column-3{width:30%; float:left; margin-right:0;}
.cols-3 .widget-column-3 p{ margin:0 0 5px 0;}
.cols-4 .widget-column-1{width:25.3%; float:left; margin:0;}
.cols-4 .widget-column-2{width:24%; float:left; margin:0 40px;}
.cols-4 .widget-column-3{width:23%; float:left; margin:0 40px 0 0;}
.cols-4 .widget-column-4{width:17.4%; float:right; margin-right:0px;}
.cols-4 ul li{ width:auto !important; margin-right:0 !important; float:none !important;}
.cols-1 .widget-column-1{width:100%; margin:0; padding:0; }
.footer .cols-1 .widget-column-1 ul{ margin:0 auto; display:table; padding:0;}
.footer .cols-1 .widget-column-1 ul li{ width:auto; float:left; padding:0 30px 0 0; margin:0 auto; border-bottom:0;}
.footer .cols-1 .widget-column-1 ul li:last-child{ margin-right:0;}
.footer .cols-1 .widget-column-1 ul li ul {display:none;}
.cols-2 .widget-column-1 p i, .cols-3 .widget-column-1 p i, .cols-4 .widget-column-1 p i {float:left; margin-right:12px; font-size:22px;}
.cols-2 .widget-column-1 p .phno2, .cols-3 .widget-column-1 p .phno2, .cols-4 .widget-column-1 p .phno2 {display:block; margin-left:28px;}
.cols-2 .widget-column-1 p span, .cols-3 .widget-column-1 p span, .cols-4 .widget-column-1 p span {display:table;}
.footer h5 {margin-bottom:30px;}
.footer ul{ margin:0; padding:0;}
.footer ul li {border-bottom:dashed 1px #3b3b3b; padding-bottom:8px; margin-bottom:8px;}
.footer ul li:last-child {border-bottom:none; padding-bottom:0; margin-bottom:0;}
.footer ul li a {display:block; color:#ffffff;}
.footer ul li ul{ margin:0 0 0 20px;}
.cols-3 a.readmore span, .cols-2 a.readmore span, .cols-4 a.readmore span{color:#fff;}
.footer .recent-post p{ margin-bottom:5px;}
.phone-no{margin:0;}
.cols-3 .widget-column-3 p, .cols-2 .widget-column-2 p, .cols-4 .widget-column-4 p{margin-bottom:0; padding:0;}
.copyright { background-color:#1b1f21; position:relative; padding:20px 0; font-size:12px; text-align:center;}
.copyright-txt {display:inline-block; margin:0 5px;}
.design-by {display:inline-block; margin:0 5px;}
.recent-post{padding-bottom:30px; font-size:12px;} 
.recent-post img{ float:left; width:60px; height:auto; margin:0 22px 0 0;}
.recent-post p {padding:0;}
.footer .recent-post h6{margin:0 0 5px 0; font-size:12px ; transition:all ease 300ms; text-transform:uppercase;}
.recent-post.last, .recent-post:last-child{ border-bottom:none; padding-bottom:0;}
.content-area .recent-post h6{ color:#454545;}
.recent-post span {display:inline-block; text-transform:capitalize; line-height:10px;}
.footer-post-author {margin-right:10px; padding-right:10px; border-right:solid 1px #9eacb5;}
.footer-recent-tweet {width:100%; overflow:auto; height:220px;}
/* = Contact Form css
-------------------------------------------------------------- */
.wpcf7{ margin:0; padding:0;}
.wpcf7 form{ margin:0; padding:0;}
.wpcf7 form span.last{ float:none !important;}
.wpcf7 form input[type="url"], .wpcf7 form input[type="date"], .wpcf7 form select{ background-color:#f1f1f1; border:1px solid #cccccc; padding:5px 3px; margin-top:10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; font:13px arial; color:#777777;}
.wpcf7 form input[type="checkbox"], .wpcf7 form input[type="radio"], .wpcf7 form input[type="file"]{ margin-top:10px; padding:0;}
span.wpcf7-list-item{ margin:0 15px 0 0 !important;}
.contact-page {display:block; width:100%;}

#contactform_main input[type=text], #contactform_main input[type=email], #contactform_main input[type=tel], #contactform_main input[type=url], #contactform_main textarea, .wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form input[type="tel"], .wpcf7 form textarea, input[type="text"], input[type="email"], input[type="tel"], textarea{width:48.5%; padding:11px 25px; float:left; margin:0 1.5% 10px 0; background:#ffffff; border:solid 1px #e7e7e7; font:400 14px 'Lato', sans-serif; color:#828181; border-radius:5px;}
#contactform_main textarea, .wpcf7 form textarea{ width:98.5%; margin-right:0; height:160px; line-height:22px; border-radius:5px; padding:15px 20px;}  
#contactform_main span.capcode{ float:left; padding:13px; margin:0 5px 0 0;  border:1px solid #eee; padding:13px; float:left; margin:0 8px 8px 0; -moz-box-shadow:inset 0 0 5px #f1f1f1; -webkit-box-shadow:inset 0 0 5px #f1f1f1; box-shadow:inset 0 0 5px #f1f1f1;}
#contactform_main input[type=submit], .wpcf7 form input[type="submit"], input[type="submit"] { font:700 17px 'Lato', sans-serif; cursor:pointer; background:#3a3c41; padding:11px 22px; border-radius:5px; margin-top:20px; text-transform:uppercase; transition:all ease-in-out 300ms; border:0;}
#contactform_main input[type=submit]:hover, .wpcf7 form input[type="submit"]:hover{ background:#038dc4;}
.wpcf7 form input[type="email"], .wpcf7 form input[type="text"], .wpcf7 form input[type="tel"], .wpcf7 form textarea{ float:none;}

iframe{padding:0; width:100%; vertical-align:top;}
select {-moz-appearance:none; width:44.3%; padding:10px 15px 10px 25px; background:url(images/select-arrow.png) no-repeat right center #fff; border-radius:5px; border:solid 1px #dbdbdb !important; color:#9c9c9c; font:13px/13px 'Lato', sans-serif; -webkit-appearance:none; margin-bottom:10px;}
.contact_left{ float:left; width:65%; }
.contact_right{ float:right; width:33%; padding:0 15px 10px;}
.contact_right h3{ margin:-20px -20px 20px; padding:10px;}
.contact_right p i {float:left; margin-right:15px;}
.contact_right p span {display:table;}
.contact_right p span.phno2 {margin-left:20px;}

/*Contact Us icon */
#contactform_main .namefield{background:#ffffff;}
#contactform_main .emailfield{background:#ffffff;}
#contactform_main .webfield {background:#ffffff;}
#contactform_main .phonefield{background:#ffffff;}
#contactform_main .messagefield{background:#ffffff;}
.homecontact-left{width:53%; float:left;}
.homefindus-right{width:43%; float:right;}
.widget-column-4 form {display:block; padding-top:30px;}
.post-title{ margin-bottom:0px; font-weight:400;}
.search .post-title{ margin-bottom:20px;}
.blog-post-repeat {margin-bottom:30px;}
.blog-post-repeat .postmeta{margin-bottom:15px;}
.read-more {font:400 14px/40px 'Lato', sans-serif; background-color:#ffd800; color:#fff; text-align:center; padding:0 28px;  display:inline-block; border-radius:5px;}
.read-more:hover { background-color:#ffd800;}
.blog-post-repeat .post-thumb img{ float:left; margin-right:15px; margin-bottom:20px;}
.post-thumb img{ max-width:270px; margin-bottom:30px;}
.news-box .read-more {margin-right:35px;}
/*default css*/
.error_msg{padding:10px; background:#ffd3ce; color:#e00; border:1px #e00 solid; margin:15px 0;}
.success_msg{padding:10px; background:#dcffc5; color:#070; border:1px #070 solid; margin:15px 0;}
.spacer20{height:20px; clear:both;}
.pagination{display:table; clear:both; margin-bottom:40px; font-size:13px;}
.pagination ul{list-style:none; margin:20px 0;}
.pagination ul li{display:inline-block; margin-right:3px;}
.pagination span, .pagination a{background:#303441; color:#fff; padding:5px 14px; display:inline-block; margin-right:2px;}
.pagination .current, .pagination a:hover{background:#ffd800;}
h1.entry-title, h1.page-title{padding-bottom:20px; margin:0 0 30px 0; line-height:30px; border-bottom:solid 1px #78797c;}
article.tag-sticky-2{padding:10px;}
.content-area p{margin:5px 0 20px 0;}
.content-area .phone-no p{ margin:0 0 10px 0;}
#contactform_main p{ margin:0;}
.post-date{display:inline;}
.post-comment{display:inline;}
.post-categories{display:inline;}
.post-tags{display:inline;}
form.search-form{margin-bottom:15px;}
input.search-field, .post-password-form input[type=password]{border:1px #eee solid; padding:8px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/*photo gallery csss*/
.photobooth .filter-gallery {position:relative; width: auto; margin:auto; text-align:center; }
.photobooth .filter-gallery ul {list-style:none !important; display:inline-block; margin:0 0 50px; padding:8px 25px;}
.photobooth .filter-gallery ul li {display:inline-block; padding:0; width:auto; text-transform:uppercase; margin-right:12px;}
.photobooth .filter-gallery ul li.current a, .photobooth .filter-gallery ul li a:hover {background:#ffd800; color:#fff;}
.photobooth .filter-gallery ul li:last-child {border:none; margin-right:0; padding-right:0;}
.photobooth .filter-gallery ul li a{font:500 13px/13px 'Lato',san-serif; display:block; padding:10px 18px; color:#fff; border-radius:20px;}
.photobooth .gallery ul{list-style:none !important; margin:0;}
.photobooth .gallery ul li{background:url(images/gallery-icon.png) no-repeat 50% 40% #ffd800; float:left; cursor:pointer; position:relative; margin:0 30px 30px 0; width:22.9%; height:200px; overflow:hidden; transition:all ease 500ms;}
.photobooth .gallery ul li a {display:block; width:100%; height:100%;}
.photobooth .gallery ul li:hover { background:url(images/gallery-icon.png) no-repeat 50% 50% #ffd800;}
.photobooth .gallery ul li img {vertical-align:middle; display:block; width:100%; height:auto; margin:0; min-height:200px;}
.photobooth .gallery ul li:hover img {opacity:0.2;}
.nav-previous{float:left; margin-top:10px; margin-bottom:10px;}
.nav-next{float:right; margin-top:10px; margin-bottom:10px;}
nav.post-navigation{padding:10px 0 20px;}
.accordion-box h2.active{color:#ffd800; border-bottom:1px solid #ccc;}

.comment-list, ol.comment-list{list-style:none; margin-left:0; margin-top:20px; margin-bottom:20px;}
.comment-list ul, ol.comment-list ul{list-style:none;}
.comment-list li.comment{margin-top:20px;}
.comment-list .comment-content h1, .comment-list .comment-content h2, .comment-list .comment-content h3, .comment-list .comment-content h4, .comment-list .comment-content h5, .comment-list .comment-content h6{margin-top:15px;}
/* Buttons */
.button, .btnfeatures{ background-color:#f08b08; border-bottom:4px solid #e44545; color:#fff; font:400 14px/22px 'PT Sans', sans-serif; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#ffd800; border-color:#1898c2; color:#fff;}
.btnfeatures{ background-color:transparent;  border:1px solid #fff; padding:8px 20px; margin-right:20px;}
.btnfeatures:hover{ border-color:#f08b08;}
/* woocommerce CSS ================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1; }
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce input[type=tel], .woocommerce input[type=email], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Lato',san-serif; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Lato',san-serif; color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}
/*post nav css*/
.post-nav{clear:left; margin-top:40px;}
.prev-page, .next-page{margin:0; padding:0;}
.prev-page a{float:left;}
.next-page a{float:right;}
.prev-page a, .next-page a{background-color:#333333; padding:5px 10px; color:#ffffff; font:15px 'Lato',san-serif;}
.prev-page a:hover, .next-page a:hover{ color:#ffffff; background-color:#ffd800;}
.singleright{float:left;}
.singleleft{float:right;}
.woocomerceright{float:left;}
.woocomerceleft{float:right;}
.woocomercesitefull{ width:100%;}
.services-wrap .one_fourth {display:inline-block; float:none;}
/* Woocommerce Pricing filter widgets*/
#sidebar .price_slider {margin-bottom:1em;}
#sidebar .price_slider_amount {text-align:right; line-height:2.4em;}
#sidebar .price_slider_amount .button {font-size:1.15em;}
#sidebar .price_slider_amount .button {float:left;}
#sidebar .ui-slider {position:relative; text-align:left;}
#sidebar .ui-slider .ui-slider-handle {position:absolute; z-index:2; width:1em; height:1em; -webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em;cursor:pointer; background:#d74516; outline:none; top:-0.3em;}
#sidebar .ui-slider .ui-slider-handle:last-child {margin-left:-0.5em;}
#sidebar .ui-slider .ui-slider-range {position:absolute; z-index:1; font-size:.7em; display:block; border:0; background:#2e3760; -webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em;}
#sidebar .price_slider_wrapper .ui-widget-content {-webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em; background:#d5d5d5;}
#sidebar .ui-slider-horizontal {height:.5em;}
#sidebar .ui-slider-horizontal .ui-slider-range {top:0; height:100%;}
#sidebar .ui-slider-horizontal .ui-slider-range-min {left:-1px;}
#sidebar .ui-slider-horizontal .ui-slider-range-max {right: -1px;}
ul.cart_list li img, ul.product_list_widget li img, ul.cart_list li img, ul.product_list_widget li img{ width:15%;}
#sidebar del, #sidebar ins, #sidebar ul.product_list_widget li a{ display:inline;}
#sidebar ul.product_list_widget .star-rating{ display:inline-block; margin:0 10px;}
.woocommerce #sidebar ul li span.count, .woocommerce #sidebar ul li a{ display:inline; margin:0 10px;}
label.screen-reader-text{ display:none;}
#sidebar .woocommerce-product-search input[type="search"]{ width:75%; padding:10px 15px; background:#f1f1f1; border:1px solid #cccccc;}
#sidebar .woocommerce-product-search input[type=submit]{ color:#fff; border:none; cursor:pointer;}
#sidebar ul li ul li{ border:none;}
.woocommerce .cart-collaterals .shipping_calculator::after, .woocommerce .cart-collaterals .shipping_calculator::before, .woocommerce .cart-collaterals::after, .woocommerce .cart-collaterals::before, .woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce ul.cart_list li::after, .woocommerce ul.cart_list li::before, .woocommerce ul.product_list_widget li::after, .woocommerce ul.product_list_widget li::before, .woocommerce-page .cart-collaterals .shipping_calculator::after, .woocommerce-page .cart-collaterals .shipping_calculator::before, .woocommerce-page .cart-collaterals::after, .woocommerce-page .cart-collaterals::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before, .woocommerce-page ul.cart_list li::after, .woocommerce-page ul.cart_list li::before, .woocommerce-page ul.product_list_widget li::after, .woocommerce-page ul.product_list_widget li::before{ display:inline !important;}
.contact_right .social-icons {padding:30px 0;}
select.orderby {width:100%;}
.content-area form p {margin:0;}
.comment-form-comment textarea {float:none; border-radius:5px !important;}
/* Home Sidebar */
.contact-page .sitefull {margin-top:50px;}
.page-template-template-contact #footer-wrapper {margin:0;}
.news-box .stButton .stLarge, .blog-post-repeat .stButton .stLarge {display:none !important;}
.news-box .stButton, .blog-post-repeat .stButton {margin:0 !important;}
.single .news-posts-comments, .archive .news-posts-comments, .page .news-posts-comments {margin:0;}
#Grid {margin:0 -15px !important;}
#Grid .mix {width:22.5% !important; height:200px !important; margin:0 15px 30px !important;}
#Grid .mix img {min-height:200px !important;}
.instagram-images {padding:0 3px;}
.instagram-images img {float:left; margin:0 4px 8px;}

/* one_four_page-wrap */
#wrapOne h2.section_title {text-align:center; margin-bottom:50px;}
h2.section_title span {font-weight:300;}
.one_four_page-wrap {display:table; margin:auto auto 40px; width:auto;}
.one_four_page {float:left; width:270px; margin:0 30px 30px 0; text-align:center; font-size:14px; position:relative; padding-bottom:40px;}
.last_column {margin-right:0 !important;}
.one_four_page_thumb {display:block; width:100%; height:190px; overflow:hidden; margin-bottom:30px;}
.one_four_page_thumb img {width:100%; height:auto; min-height:190px;}
.one_four_page_content h4 {display:block; transition:ease-in-out 500ms all;}
.one_four_page .read-more {position:absolute; bottom:0; left:0; right:0; margin:auto; display:table;}

.one_four_page.three_column {width:31.6%;}
.one_four_page.six_column .one_four_page_thumb {height:150px;}
.one_four_page.six_column .one_four_page_thumb img {min-height:150px;}

.one_column{ width:100%;}
.two_column{ width:48.5%;}
.four_column{ width:23%;}
.five_column{ width:18.4%; margin-right:23px;}
.six_column{ width:15.4%; margin-right:1.5%; }
.entry-summary {display:table;}

.ngg-gallery-thumbnail-box {box-sizing: border-box; float:left; margin-right:0 !important; padding:0 5px !important; width:25%;}
.ngg-gallery-thumbnail { width:100%;}
.ngg-gallery-thumbnail img { margin:4px 0 !important; width:100%; box-sizing:border-box;}

.full-width {display:block; width:100%; margin-bottom:30px;}
.one_half {float:left; width:48.7%; margin:0 2.6% 30px 0;}
.one_third {float:left; width:31.6%; margin:0 2.6% 30px 0;}
.one_fourth {float:left; width:23%; margin:0 2.6% 30px 0;}
.one_fifth {float:left; width:17.9%; margin:0 2.6% 30px 0;}

/* Accordion */
.accordion-section .ui-accordion .ui-accordion-header {font-size:14px; color:#000; border-width:0 0 1px 0; border-style:solid; border-bottom-color:#e1e1e1; background:none; border-radius:0; padding:0 0 18px 0; margin:20px 0 10px 0;}
.accordion-section .ui-accordion .ui-accordion-header span.fa {background:#1e1e1e; color:#fff; padding:0 10px; line-height:28px; margin-right:15px; width:auto; height:auto; text-indent:0;}
.accordion-section .ui-accordion .ui-accordion-content {background:none; border:0; padding:0; margin:-10px 0 0 0; font-size:14px !important; border-bottom:solid 1px #e1e1e1;}
.accordion-section .ui-accordion .ui-accordion-header.ui-accordion-header-active span.fa {background:#ffd800; color:#000;}
.accordion-section .ui-accordion .ui-accordion-header.ui-accordion-header-active {border-bottom:0;}

/* Skill Bar */
.skillbar-section {position:relative; display:block; width:100%; font-size:14px;}
.skillbar { position:relative; display:block; margin-bottom:32px; width:100%; background:#eee; height:35px; -webkit-transition:0.4s linear; -moz-transition:0.4s linear; -ms-transition:0.4s linear; -o-transition:0.4s linear; transition:0.4s linear; -webkit-transition-property:width, background-color; -moz-transition-property:width, background-color; -ms-transition-property:width, background-color; -o-transition-property:width, background-color; transition-property:width, background-color;}
.skillbar-title {color:#282828; margin:10px 0;}
.skillbar-bar { height:35px; width:0px; line-height:35px; background:#6adcfa; overflow:hidden;}
.skillbar-bar span {display:block; padding:0 18px;}
.skill-bar-percent { position:absolute; right:10px; top:0; height:35px; line-height:35px; color:#ffffff; color:rgba(0, 0, 0, 0.4);}

/* Causes */
.causes-section {display:table; margin:auto;}
.causes-col {float:left; width:370px; margin:0 30px 30px 0; border:solid 1px #f1eee9; font-size:14px;}
.causes-thumb {display:block; width:100%; height:245px; overflow:hidden; position:relative;}
.causes-col .causes-thumb:after {content:''; position:absolute; top:0; left:0; width:100%; height:0; background:rgba(0,0,0,0.5); transition:all ease 1s;}
.causes-col:hover .causes-thumb:after {height:100%;}
.causes-thumb img {width:100%; height:auto; min-height:245px;}
.causes-content {width:100%; padding:22px;}
.causes-col .causes-thumb a.read-more {position:absolute; left:0; right:0; margin:auto; top:-25%; display:table; z-index:999; font-size:14px; text-transform:uppercase; line-height:40px; padding:0 20px; font-weight:700;}
.causes-col:hover .causes-thumb a.read-more {top:50%; transform:translateY(-50%);}
.causes-col h5 {margin-bottom:15px;}
.causes-col .cuase-raised h5, .causes-col  .cuase-goal h5 {margin-bottom:0;}
.causes-col .skillbar {height:3px; margin:30px 0 25px 0; visibility:visible;}
.causes-col .skillbar-bar {position:relative; height:3px; overflow:visible; line-height:3px;}
.causes-col .skill-bar-percent {font-size:12px; line-height:24px; height:24px; padding:0 7px; top:-32px; border-radius:5px; z-index:999; right:0;}
.causes-col .skill-bar-percent::after {content:''; position:absolute; left:0; right:0; margin:auto; display:table; bottom:-5px; border-top:solid 5px #ffd800; border-left:solid 5px transparent; border-right:solid 5px transparent; z-index:999;}
.cuase-raised {float:left;}
.cuase-goal {float:right; text-align:right;}
.cuase-raised span, .cuase-goal span {display:block; margin-bottom:10px;}

/* Why Choose Us */
.choose_us_main {margin:0 -15px;}
.choose-col {float:left; width:47.5%; margin:0 15px 40px;}
.choose-thumb {float:left; margin-right:25px; width:100px; height:100px; border-radius:50%; border:solid 2px #ffd800; text-align:center; line-height:95px; overflow:hidden;}
.choose-thumb i {vertical-align:middle; font-size:42px;}
.choose-col:hover i {color:#ffd800; transition:all ease-in-out 500ms;}
.choose-thumb img {width:100%; height:auto; min-height:102px;}
.choose-content {display:table;}
.choose-content h5 {margin-bottom:10px;}
.choose-col a {display:block;}

/* Event Style */
.event_main {display:table; margin:auto;}
.event-col {float:left; width:370px; margin:0 30px 40px 0; }
.event-thumb {display:block; width:100%; height:300px; position:relative; overflow:hidden; margin-bottom:20px;}
.event-thumb img {width:100%; height:auto; min-height:300px;}
.event-thumb h3 {position:absolute; bottom:0; right:7px; background:#ffd800; padding:8px 18px; margin:0; text-align:center; line-height:25px; border-radius:5px 5px 0 0; font-size:19px; font-weight:900;}
.event-thumb span {display:block;}
.event-content h3 {text-transform:inherit; margin-bottom:12px;}
.event-time, .event-location {display:inline-block; margin: 0 15px 18px 0;}
.event-time i, .event-location i {font-size:17px; margin-right:3px;}
.event-content {color:#949393; font-size:14px; font-weight:700;}
.event-content .read-more {line-height:40px; padding:0 25px;}

.client_logo_section {text-align:center;}
.client-logo {display:inline-block; width:230px; height:138px; margin:0 5px 10px 0; border-bottom: solid 2px #f7f7f7; background:#f7f7f7; transition:all ease-in-out 500ms; overflow:hidden;}
.client-logo img {width:100%; height:auto; min-height:138px;}
.client-logo:hover {border-bottom: solid 2px #ffd800;}
#client-section .view-all-btn a {font-weight:700; font-size:13px; text-transform:uppercase; margin-top:30px;}
.content-area .contact_right p {padding:0 0 5px; margin:0;}

/*Update codecastle*/

/*.header .header-inner {
    background: white!important;
}*/
/*.header .header-inner .logo {
	        width: 24rem!important;
    padding: 1.2rem 0!important;
}
img.logo-header{
	      height: 4.1rem!important;
    width: 100%!important;
}*/

.one_four_page .read-more {
    padding: 0 3rem;
	text-align: center;
}
.one_four_page_content h4 {
	    height: 2rem;
}

.one_four_page_content p {
    height: 6rem;
    margin: 0.5rem auto;
}

.owl-carousel.owl-drag .owl-item .lcs_logo_container:hover{
	    border-bottom: 1px solid #1fbc00;
} 

.owl-carousel .owl-item img {
	padding: 2rem;
}
.lcs_logo_container {
    background-color: #0e0e0e08;
}
div.modulos{
	    border-top: 1px solid black;
    padding: 1rem 0rem;
}

h2{
	color:#1fbc00!important;
}
h1{
		color:#0d8b04!important;
}

p{
	text-align: justify;
	font-family: OpenSans;
	font-size:14px;
}
.box:hover{
	 -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 500ms ease-in;
    transform: scale(1.05);
		z-index: 2;
		/*box-shadow: 1px 1px 1px #000;*/
}

/*Coun */

/*<div class="countdown-items"><span class="ctw-digits">31</span><span class="ctw-label">Days</span> </div> <div*/ 
div.countdown-items {
	background-color:white!important;
}
div.countdown-items span.ctw-digits{
	font-weight:900!important;
	font-size:5rem!important;
	color:green!important;
}
div.countdown-items span.ctw-label{
	margin-top:1rem!important;
	font-size:1rem!important;
}

@media (max-width: 1024px){
    div.countdown-items > span.ctw-digits{
		margin:0px!important;
		padding:0px!important;
	font-weight:900!important;
	font-size:4rem!important;
	color:green!important;
}
div.countdown-items span.ctw-label{
	margin-top:-2rem!important;
	font-size:1rem!important;
}
}

@media (max-width: 768px){
    div.countdown-items > span.ctw-digits{
		margin:0px -50px!important;
		padding:0px -50px!important;
	/*font-weight:900!important;*/
	font-size:2.3rem!important;
	color:green!important;
}
div.countdown-items span.ctw-label{
	margin-top:-2rem!important;
	font-size:0.5rem!important;
}
}
