/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

.slider-main{position:relative;}
.nivoSlider{position:relative;	width:100%;	height:auto; overflow: hidden;}
.nivoSlider img{position:absolute;	top:0px; left:0px;max-width: none;}
.nivo-main-image{display: block !important;position: relative !important; width: 100% !important;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;	background:white; 	filter:alpha(opacity=0); opacity:0;}
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; top:0;}
.nivo-box {display:block; position:absolute; z-index:5;	overflow:hidden;}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-html-caption{display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:relative; z-index:999; cursor:pointer; opacity:1 !important;}
.nivo-directionNav a.nivo-prevNav {float:left; background-position:10px 7px; left:0;}
.nivo-directionNav a.nivo-prevNav:hover {background-position:10px -22px;}
.nivo-directionNav a.nivo-nextNav {float:right; background-position:-25px 7px; right:0;}
.nivo-directionNav a.nivo-nextNav:hover {background-position:-27px -22px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{text-align:center; padding:0; position:absolute; bottom:30px; width:100%; z-index:9999;}

.nivo-controlNav a {cursor:pointer; display: inline-block; height:15px;width:15px; margin:0 7px 0 0; text-indent:-9999px; border-radius:14px;	-moz-border-radius:14px; -webkit-border-radius:14px;-o-border-radius:14px;}

.nivo-controlNav a.active{font-weight:bold; background:#f00;}
.nivo-directionNav{width:100%; margin:auto; position:absolute; bottom:50%;}
.nivo-directionNav a {border: 0 none; display: block; height:36px; opacity:0; text-indent: -9999px; transition: all 500ms ease-in-out; width:36px; background:url(../images/slide-nav.png) no-repeat;}
.slider-main:hover .nivo-directionNav a{opacity:1;}
/* Caption styles */
.nivo-caption {position:absolute; top:35%; z-index:999; margin:0; width:100%; color:#fff; padding:0;}
.slide_info {width:770px; margin:auto; padding:0; text-align:center;}
.slide_info h2{ display:block;  font-family: 'Lato'; font-size:40px; color:#ffffff; padding:0 0 20px; font-weight:700; margin:0; line-height:45px; text-shadow:1px 1px 2px #000;}
.slide_info p{margin-bottom:0; padding:0 0 30px 0; display:block; font-family: 'Lato', sans-serif;}
a.sldbutton{color:#fff; padding: 0 30px; background:transparent; display:inline-block; margin:20px 0 0 0; border:0; text-transform:capitalize; font-weight:300; border:solid 2px #fff; line-height:30px;}
a.sldbutton:hover{background:#f08b08;}
.slider-main{width:100%; min-height:400px; background:url(../images/loading.gif) no-repeat center center #ffffff;}

.slide_info h2 span {color:#e91e63;}
.slide_info h3 {font-size:19px; margin-bottom:10px;}
.slider-txt {display:table; margin-bottom:10px;}
.slide-row i {float:left; margin-right:30px;}
