@charset "utf-8";
/* CSS Document */

/* ----------------------------- CUSTOM BUTTON STYLES ----------------------------- */
img{max-width:100%;}
.clear{clear:both;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
/* ------------------ default styles ------------------ */
.postmeta, .entry-meta{padding:10px 0;}
/*footer.entry-meta{ clear:both;}*/
.breadcrumbs{padding:10px 0; margin-bottom:0;}
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}
#commentform input#submit{background:#ffb400; border:none; padding:8px 15px; color:#fff;  display:inline-block; cursor:pointer; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
#commentform input#submit:hover{background:#0083b6; color:#ffffff;}
.form-allowed-tags{display:none;}
ul.errormsg{background:#ffe4e4;}
ul.errormsg li{padding:5px;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}

/*------------------------------------------- COMMENT STYLES -------------------------------------------*/
.comment-author.vcard{display:inline-block; margin-right:15px; float:left;}
.comment-list ul.children li.comment{background-image:none; padding-left:15px;}
.hrule{border-top:1px #999 dotted; margin-top:15px; padding-bottom:15px;}

/*------------------------------------------- Wordpress Widgets Default STYLES -------------------------------------------*/

#calendar_wrap, #wp-calendar{ width:100%; text-align:center; }
#wp-calendar caption{ font-weight:bold; font-size:16px; padding-bottom:20px;}
#wp-calendar #prev{text-align:left;}
#wp-calendar #next{text-align:right;}

#sidebar select{border:0;outline:0;background:#ece8e8;width:100%; height:40px;margin:0;padding:0px 0 0px 20px;}

blockquote{ background:url(../images/base/icon_quote.png) no-repeat 20px 22px; padding:15px 15px 15px 60px !important; font-style:italic; color:#888; font-size:14px; line-height:1.5;}