/* Mobile Portrait View */
@media screen and (max-width:479px) {
h1, h2 {font-size:24px !important;}
.container, .header .header-inner .nav, .content-area{ padding:0 20px; width:auto;}
.header, #wrapOne h2.section_title, .one_four_page-wrap {margin-bottom:30px;}
.header-top .header-top-left, .header-top .header-top-right {float:none; width:auto; margin:auto auto 10px; display:table;}
.header-top ul li {padding:0 0 0 10px;}
.header-top .social-icons a, .header-top .social-icons {border-width:1px 0px 1px 1px;}
.social-icons a:last-child {border-width:1px;}
.header .header-inner {position:relative; padding:25px 0;}
.header .header-inner .logo{ width:100%; text-align:center; padding:0 0 15px; float:none;}
.header .header-inner .logo img {height:auto !important;}
.header .header-inner .logo h2 {font-size:20px !important;}
.header .header-inner .logo span.tagline {letter-spacing:0.5px;}
.header .header-inner .logo a {display:block;}
.toggle, #services-section h2.section_title {width:100%;}
.header-top {padding:10px 0;}
.slider-form, .slide-row {display:none;}
.nivo-controlNav{ bottom:0; left:50%; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); -webkit-transform:translateX(-50%); width:auto; text-align:center;}
.header .header-inner .nav ul li a {margin:0;}
.header .header-inner .header-nav{ margin:0 auto;}
.innerbanner{height:auto;}
.innerbanner img {min-height:100px;}
.slider-main{ min-height:125px;}
.nivo-caption {top:20px; width:auto;}
.slide_info {width:100%; margin:0; padding:0 20px;}
a.sldbutton {padding:0 20px; line-height:25px;}
.slide_info h2 {line-height:25px; padding-bottom:0; font-size:22px !important;}
.nivo-directionNav {left:20px;}
.one_four_page {width:100%; margin:0 0 30px;}
.footer #contactform_main input[type="text"], .footer #contactform_main input[type="email"], .footer #contactform_main input[type="tel"], .footer #contactform_main input[type="url"], .footer #contactform_main textarea, .footer .wpcf7 form input[type="text"], .footer .wpcf7 form input[type="email"], .footer .wpcf7 form input[type="tel"], .footer .wpcf7 form textarea, .footer select, .footer input[type="text"], .footer input[type="email"], .footer input[type="tel"], .footer textarea {width:100%; margin:0 0 15px 0;}
.news-box, .ourteam_col, .view-all-testimonials .testimonial-left, .choose-col, .event-col{ width:100%; margin:0 0 10%; padding:0; float:none; display:inline-block; height:auto;}
.news-box  {padding-bottom:20px;}
.news-box .news-thumb, .causes-col {float:none; width:100%; margin:0 0 20px 0; height:auto;}
section h2.section_title {margin-bottom:30px; font-size:23px;}
#sitemain .date-news .byadmin-date, .nosidebar .date-news .byadmin-date, #sitemain .date-news .byadmin-month, .nosidebar .date-news .byadmin-month{ padding:10px 15px;}
.news-posts-comments {margin:5px 10px 0;}
.ourteam_content h6::after {right:auto; left:0;}
.tm_description {padding:0 0 0 10px; text-align:left;}
.section-teammember .read-more.center {margin:auto;}
.photobooth .filter-gallery ul {padding:8px 10px;}
.photobooth .gallery ul li {margin-bottom:20px;}
.photobooth .filter-gallery ul li {margin:0 0 6px 0; display:block; padding:0;}
/* Footer */
.footer ul li{ width:auto; margin-right:0; float:none;}
.cols-2 .widget-column-1, .cols-2 .widget-column-2, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4, .view-all-testimonials .testimonial-col { width:auto; float:none; clear:both; min-height:inherit; margin:0 0 12% 0; padding:0;}
.cols-2 .widget-column-1, .cols-3 .widget-column-2, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .content-area .our-testimonials{ border:none; padding:0;}
.cols-4 .widget-column-4 {padding-top:20px;}
.copyright-txt, .design-by{ float:none; margin:0 auto;text-align:center; width:auto; display:block;}
/* Testimonial Slider */
/* Pages */
#sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.blog-post-repeat .post-thumb img{ float:none; margin-right:0; width:100%; height:100%;}
.photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:100%;}
.photobooth .gallery ul li img{ height: auto;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;}
.site-main{ width:auto; margin:0; padding:0; float:none !important;}
.contact_left, .contact_right{ float:none; width:100%; margin:10% 0;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%; margin-right:0;}
.news-box .news-thumb img {min-height:inherit;}
.ourteam_content {bottom:0;}
.right-side-form {width:100%;}
.testimonials-home .owl-theme .owl-controls {margin-top:30px;}
.three_column, .two_column { width:100%; box-sizing:border-box;}
.news .read-more {position:relative; bottom:0;}
.latestnews .read-more.center {margin-top:10px;} 
.tm_description p {margin-left:30px;}
.tm_description i.fa {left:0;}
.our-testimonials .owl-nav {margin-bottom:20px;}
h5 {line-height:22px;}
.news-box h2 {font-size:20px !important;}
.social-icons a {width:35px; height:35px; line-height:35px; margin-right:6px; font-size:14px;}
.social-icons a:last-child {margin-right:0;}
.controls ul, .choose_us_main {margin:0;}
.controls li {margin:0 10px 10px 0  !important;}
#Grid .mix {margin:0 5px 10px !important; width:100% !important;}
.view-all-testimonials .testimonial-thumb {bottom:0 !important;}
.footer input[type="submit"], .footer #contactform_main input[type="submit"], .footer .wpcf7 form input[type="submit"] {width:100%;}
.ngg-gallery-thumbnail-box {width:100%;}
#testimonial-section .our-testimonials, section .our-testimonials {width:auto;}
.one_half, .one_third, .one_fourth, .one_fifth {width:100%; margin-right:0;}
#testimonial-section {padding:40px 0;}
.causes-thumb{height:auto;}
.causes-thumb img {min-height: inherit;}
.choose-thumb {width:65px; height:65px; margin-right:20px; line-height:60px;}
.choose-col i {font-size:25px;}
.event-thumb {height:auto;}
.event-thumb img {min-height: inherit;}
.event-content h3 {font-size:18px; line-height:22px;}
.content-area .our-testimonials {padding:20px;}
#Grid {margin:0 !important;}
.one_four_page_thumb, .ourteam_thumb { height:auto;}
.one_four_page_thumb img, .ourteam_thumb img { min-height:inherit;}

}

/* Mobile Landscape View */
@media screen and (min-width:480px) and (max-width:767px){
h1, h2 {font-size:22px !important;}	
.container {padding:0 20px; width:auto;}
.header {margin:0 0 50px;}
.header .header-inner .logo h2 {font-size:26px !important;}
.header .header-inner .logo{width:100%; padding:0; position:relative; z-index:999; text-align:center; float:none;} 
.header .header-inner .logo img {height:auto !important;}
.header .header-inner .logo a {display:block;}
.header .header-inner .header-nav{ margin:0 auto;}
.header .header-inner {padding:20px 0; position:relative;}
.header-top .header-top-left {width:60%;}
.header-top .header-top-right {width:40%;}
.header-top ul li {padding:0 0 0 5px;}
.header-top .header-top-left i {padding-right:2px;}
.header-top .social-icons a {padding:0 8px;}
.toggle {padding:30px 0 0 0;}
.innerbanner {height:150px;}
.innerbanner img {min-height:150px;}
.social-icons a:hover {color:inherit !important;}
.slider-main{ min-height:200px;}
.slider-main, .innerbanner, .homeservices{top:0; margin-bottom:0;}
.nivo-controlNav{ bottom:10px; left:60%; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); -webkit-transform:translateX(-50%); width:auto; text-align:center;}
.nivo-caption {top:0; width:100%; padding:0 20px;}
.slider-form h3 {margin-bottom:10px;}
.slide_info {box-sizing:border-box; margin:0; width:auto; line-height:18px;}
.slider-main .slide_info h2{font-size:22px; margin:auto; padding:20px 0 0 0; line-height:30px;}
.slide_info h2::after {margin-top:20px;}
.nivo-directionNav {left:15.5%;}
.slide_info a.sldbutton {margin-top:10px;}
.ui-accordion .ui-accordion-content {line-height:18px !important;}
.accordion-section .ui-accordion .ui-accordion-header {margin:12px 0 0 0; padding-bottom:12px;}
.one_four_page {margin:0 1.7% 30px; width:46.6%; min-height:330px;}
h2.section_title {font-size:26px !important;}
.footer #contactform_main input[type="text"], .footer #contactform_main input[type="email"], .footer #contactform_main input[type="tel"], .footer #contactform_main input[type="url"], .footer #contactform_main textarea, .footer .wpcf7 form input[type="text"], .footer .wpcf7 form input[type="email"], .footer .wpcf7 form input[type="tel"], .footer .wpcf7 form textarea, .footer select, .footer input[type="text"], .footer input[type="email"], .footer input[type="tel"] {width:47.2%; margin:0 10px 10px 0;}
.footer textarea {width:97.5% !important;}

#sitemain .threebox i, .nosidebar .threebox i{display:inherit;}
.news-box {margin:0 1.8% 30px; width:auto; width:46%; min-height:inherit;}
.news, #sitemain .news, .nosidebar .news{min-height:inherit;}
.news-box .read-more { position:relative;}
#sitemain .date-news, .nosidebar .date-news{width:70px;}
#sitemain .date-news .byadmin-date, .nosidebar .date-news .byadmin-date, #sitemain .date-news .byadmin-month, .nosidebar .date-news .byadmin-month{ padding:10px 15px;}
.news .read-more {bottom:10px; }
section h2.section_title {margin-bottom:30px;}
.post-admin {margin-right:20px;}
.post-admin-date {padding-bottom:10px;}
.news h3 {font-size:16px;}
.one-page {width:auto; margin:0 0 10% 0;}
.testimonials-home .carousel-content {margin:0;}
.ourteam_col{width:45.4%; margin:0 2.3% 30px; float:none; display:inline-block; vertical-align:top;}
.section-teammember .read-more.center {margin-top:20px;}
.our-testimonials {width:auto; padding:30px 20px;}
.news-box .news-thumb {height:180px;}
.news-box .news-thumb img {min-height:180px;}
.ourteam_thumb {height:210px;}
.ourteam_thumb img {min-height:210px;}

/* Testimonial Slider */
#testimonial-section .read-more {margin-top:40px;}
.view-all-testimonials .testimonial-thumb {bottom:0 !important;}
#testimonial-section .our-testimonials, section .our-testimonials{width:auto;}

.controls ul {margin:0;}
.controls ul li {margin:0 0 10px 10px;}
#Grid li.mix {width:47.6%; margin:0 5px 10px; vertical-align:top;}
.view-all-testimonials .testimonial-col {width:47.6%;}
/* Footer */
.cols-2 .widget-column-1, .cols-2 .widget-column-2, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ width:auto; float:none; clear:both; min-height:inherit; margin:0 0 4% 0; padding:20px 0;}
.cols-2 .widget-column-1, .cols-3 .widget-column-2, .cols-4 .widget-column-2, .cols-4 .widget-column-3{ border:none; padding:0;}
.copyright-txt, .design-by{ float:none; margin:0 auto;text-align:center; width:auto; display:block;}
#sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.flotRight{ float:none !important;}
.photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:48%; margin:4.6px;}
.photobooth .gallery ul li {height:200px;}
.photobooth .gallery ul li img {min-height:200px;}
.photobooth .filter-gallery ul li a{ padding:2px 5px;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;}
.content-area{margin:0 auto; padding:20px 10px; width:auto;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
.contact_left, .contact_right{ float:none; width:100%; margin:10% 0;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%; margin-right:0;}
.copyright {margin-top:-20px;}
.social-icons a {width:35px; height:35px; line-height:35px; margin-right:6px; font-size:14px;}
.social-icons a:last-child {margin-right:0;}
.entry-summary {display:block;}
.ngg-gallery-thumbnail-box {width:50%;}
.one_fifth {width:47.4%;}
.one_four_page-wrap {margin:0 -4.2px;}
.causes-col {float:none; margin-right:0;}
.choose-col {width:43.5%;}
.choose-thumb, .event-col {float:none; margin:auto auto 30px;}
.client-logo {width:30.8%; margin:0 10px 10px 0; height:auto;}
.client-logo img {min-height:85px;}
.one_four_page_thumb {height:140px;}
.one_four_page_thumb img {min-height:140px;}
.latestnews, .section-teammember {margin:0 -10px;}
.causes-thumb, .event-thumb { height:auto;}
.causes-thumb img, .event-thumb img { min-height:inherit;}

}

/* Tablet View */
@media screen and (max-width:1023px) and (min-width:768px) { 
.container{ padding:0 20px; width:auto;}
h5 {line-height:22px;}
.header {margin:0 0 30px 0;}
.header .header-inner {width:100%; padding:20px 0;}
.header .header-inner .logo h2 {font-size:22px !important;}
.header .header-inner .logo{width:auto; padding:0; position:relative; z-index:999;}
.header .header-inner .logo img{ height:auto !important;}
.toggle {position:absolute; right:20px;}
.toggle a {width:438px;}
.header .header-inner .nav {float:left !important; width:100% !important; margin-top:20px !important;}
.slider-main{min-height:337px;}
.nivo-caption {padding:0 20px; left:0; width:auto; top:20%;}
.slide_info {line-height:20px; margin:0; width:100%;}
.slide_info p {padding-bottom:10px;}

.slider-form {width:40%; margin-right:20px; padding:15px 15px 10px;}
.slider-form  p {padding:0;}
.slider-form input[type="text"], .slider-form input[type="submit"], .slider-form input[type="email"], .slider-form input[type="tel"], .slider-form textarea {padding:5px 15px; margin-bottom:10px; font-size:14px !important;}
.slider-form h3 {margin-bottom:15px;}
.nivo-directionNav {left:21.5%;}
.header .header-inner .nav ul li a {padding:18px 10px;}
.innerbanner {height:160px;}
.innerbanner img {min-height:160px;}
.nivo-controlNav{ bottom:10px;}
.nivo-caption .slide_info h2 {font-size:24px; line-height:30px; padding-bottom:20px;}
.slide_info h2::after {margin-top:15px;}
.one_four_page{margin:0 12px 0 0; width:23.7%; height:auto;}
.welcome-content {display:block;}
.one_four_page_thumb {height:120px; margin-bottom:20px;}
.one_four_page_thumb img {min-height:120px;}
.causes-col {width:32%; margin:0 5px 20px;}
.causes-thumb {height:155px;} 
.causes-thumb img {min-height:155px;} 
.choose-col {width:46%;}
.event-col {width:31.5%; margin:0 8px 20px;}
.event-thumb {height:185px;}
.event-thumb img {min-height:185px;}
.event-content h3 {line-height:22px; font-size:18px;}
.event-time, .event-location {margin-bottom:10px;}
#testimonial-section {padding:30px 0;}
#testimonial-section .our-testimonials, section .our-testimonials{width:auto; padding:0;} 
section h2.section_title, #recent-work h2 {margin-bottom:4%;}
.one_page {margin-bottom:10px;}
.one-page .read-more, .read-more.center, .section-teammember .read-more.center {margin-top:20px;}
.one-page h2.section_title {margin-bottom:10px;}
.post-admin {margin-right:15px;}
.post-admin-date {padding-bottom:10px;}
.news .read-more {bottom:10px; font-size:12px; line-height:30px;}
.news h3 {font-size:15px; line-height:22px;}
.news-box {width:23.18%; margin:0 2% 30px 0;}
.one_four_page_content h4, .causes-col h5, .event-content h3 {font-size:16px; line-height:20px;}
.news-thumb, .ourteam_thumb {height:155px;}
.news-box .news-thumb img, .ourteam_thumb img{min-height:155px;}
.ourteam_col {width:23%; margin-right:15px; padding:0;}
.ourteam_content h6 {padding-bottom:10px; margin-bottom:10px;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], .wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form input[type="tel"], select{width:48.5%;}
#contactform_main textarea, .wpcf7 form textarea{ width:98.5%;}
#sitemain .clientlogo, .nosidebar .clientlogo{ margin-right:5px;}
.footer ul li{ width:auto; margin-right:0; float:none;}
.cols-3 .widget-column-2 {padding:30px 20px 10%; margin:0 20px;}
.cols-3 .widget-column-3 {width:29%;}
.content-area{ width:auto; margin:0; padding:40px 20px;}
#sitemain .threebox, .nosidebar .threebox{ text-align:center;}
#sitemain .threebox .chooseus-content, .nosidebar .threebox .chooseus-content{ width:auto;}
#sitemain .client-thumb img, .nosidebar .client-thumb img{ float:none; text-align:center; margin:0 auto; display:table;}  
#sitemain .right-thumb-content, .nosidebar .right-thumb-content{width:60%;}
#sitemain .user-comment .left, .nosidebar .user-comment .left{display:none;}
#sitemain .user-comment, .nosidebar .user-comment{ padding:5px;}
#sitemain .team-social-icon a, .nosidebar .team-social-icon a{width:25px;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:21.7%; height:155px;}
.photobooth .gallery ul li:hover a::before {margin:10px 7px 7px;}
.photobooth .gallery ul li img {min-height:158px;}
.cols-4 .widget-column-1 {width:29%;}
.cols-4 .widget-column-2 {width:23%; margin:0 1.5%;}
.cols-4 .widget-column-3 {margin:0 1.5% 0 0; width:23%; overflow:hidden;} 
.cols-4 .widget-column-4 {width:20%;}
.footer {padding:30px 0 20px 0;}
.footer h5 {margin-bottom:15px;}
.recent-post img {width:60px; margin-right:15px;}
.site-main{ width:65%;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:20%;}
.footer .social-icons a {margin:0 6px 6px 0;}
.recent-post span {padding-top:5px; border:none;}
.view-all-testimonials .testimonial-col {width:47.6%; margin-right:30px;}
.view-all-testimonials .testimonial-left {width:32%; margin-right:30px;}
.news-posts-comments {margin:10px 10px 0;}
#Grid .mix {height:150px !important; margin:0 9px 18px !important;}
#Grid .mix img {min-height:150px !important;}
.social-icons a:last-child {margin-right:0;}
.testimonial-content h5 {margin:10px 0 !important;}
.cols-2 .widget-column-1 {margin-right:3%; width: 32%;}
.cols-2 .widget-column-2 {width:65%;}
.footer #contactform_main input[type="text"], .footer #contactform_main input[type="email"], .footer #contactform_main input[type="tel"], .footer #contactform_main input[type="url"], .footer #contactform_main textarea, .footer .wpcf7 form input[type="text"], .footer .wpcf7 form input[type="email"], .footer .wpcf7 form input[type="tel"], .footer .wpcf7 form textarea, .footer select, .footer input[type="text"], .footer input[type="email"], .footer input[type="tel"], .footer textarea {margin:0 17px 20px 0;}
.controls ul {margin:0;}
.controls li {margin:0 0 10px 10px;}
.entry-summary {display:block;}
.contact_right p.parastyle {margin:0;}
.ngg-gallery-thumbnail-box {width:33.333%;}
.client-logo {width:19.3%; margin:0 2.8px 10px; height:85px;}
.client-logo img {min-height:85px;}
#client-section .view-all-btn a {margin-top:10px;}
blog-post-repeat
section .admin-post, section .post-date {display:block;}
.news-box h5 {font-size:14px;}
h3.widget-title {font-size:18px;}
.our-testimonials {padding:20px;}
.admin-post, .post-date {display:block;}

}

@media screen and (max-width:1169px) and (min-width:1024px) { 
.container{ padding:0 20px; width:auto;}
.header-content, .our-testimonials {width:100%;}
.header .header-inner .logo {padding:15px 0;}
.header .header-inner .nav ul li a {padding:0 10px; line-height:90px;}
.slider-main{min-height:337px;} 
.nivo-caption {padding:0 20px;}
.slider-form {padding:15px; margin-right:50px;}
.slider-form input[type="text"], .slider-form input[type="email"], .slider-form input[type="tel"], .slider-form input[type="tel"], .slider-form textarea {padding:8px 20px; margin-bottom:12px;}
.slide_info {margin:auto; padding:0;}
.innerbanner {height:260px;}
.innerbanner img {min-height:inherit;}
.nivo-directionNav {left:16%;}
.slide_info h2 {font-size:30px !important; padding-bottom:20px; line-height:35px;}
.nivo-controlNav{ bottom:10px;}
.one_four_page {width:23.5%; margin:0 8px 20px;}
.news .read-more {bottom:10px; font-size:12px; line-height:35px;}
.ourteam_content h6 {padding-bottom:10px; margin-bottom:10px;}
.ourteam_content p {padding-bottom:5px; line-height:20px;}
.our-testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"] {top:80%;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], .wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form input[type="tel"], select{width:48.5%;}
#contactform_main textarea, .wpcf7 form textarea{ width:98.5%;}
.footer ul li{ width:auto; margin-right:0; float:none;}
.cols-3 .widget-column-2 {margin:0 20px;}
.cols-3 .widget-column-3 {width:29%;}
.content-area { width:auto; margin:0; padding:20px;}
.cols-2 .widget-column-1 {width:30%; margin-right:4%;}
.cols-2 .widget-column-2 {width:66%;}
.footer #contactform_main input[type="text"], .footer #contactform_main input[type="email"], .footer #contactform_main input[type="tel"], .footer #contactform_main input[type="url"], .footer #contactform_main textarea, .footer .wpcf7 form input[type="text"], .footer .wpcf7 form input[type="email"], .footer .wpcf7 form input[type="tel"], .footer .wpcf7 form textarea, .footer select, .footer input[type="text"], .footer input[type="email"], .footer input[type="tel"], .footer textarea, .footer input[type="submit"], .footer #contactform_main input[type="submit"], .footer .wpcf7 form input[type="submit"] {margin:0 20px 20px 0;}
.footer {padding:40px 0;}
.footer-head {margin-bottom:30px;}
#sitemain .threebox, .nosidebar .threebox{ text-align:center;}
#sitemain .threebox .chooseus-content, .nosidebar .threebox .chooseus-content{ width:auto;}
#sitemain .user-comment .left, .nosidebar .user-comment .left{display:none;}
#sitemain .user-comment, .nosidebar .user-comment{ padding:5px;}
#sitemain .team-social-icon a, .nosidebar .team-social-icon a{width:25px;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:22.6%;}
.photobooth .gallery ul li:hover a::before {margin:10px 7px 7px;}
.photobooth .gallery ul li img {min-height:200px;}
.cols-4 .widget-column-1 {width:25.8%;}
.cols-4 .widget-column-2 {margin:0 2%;}
.site-main{ width:65%;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:20%;}
.right-side-form {width:50%;}
.ourteam_col {width:23.4%; margin-right:20px;}
.ourteam_thumb {height:212px;}
.ourteam_thumb img {min-height:212px;}
.view-all-testimonials .testimonial-col {margin-right:30px;}
.ourteam_col .social-icons a {margin:0 5px 5px 0; }
.ngg-gallery-thumbnail-box {width:25%;}
.causes-col {width:31.9%; margin:0 8px 20px;}
.causes-thumb {height:205px;}
.causes-thumb img {min-height:205px;}
.choose-col {width:47%;}
.event-col {width:31.9%; margin:0 8px 30px;}
.event-thumb {height:250px;}
.event-thumb img {min-height:250px;}
.news-box .news-thumb {height:214px;}
.news-box .news-thumb img {min-height:214px;}
.news-box {width:23.5%; margin:0 7px 20px;}
.client-logo {width:19.5%; height:115px;}
.client-logo img {min-height:115px;}
#Grid {margin:0 -10px !important;}
#Grid .mix {margin:0 9px 18px !important; width:23.1% !important;}
.our-testimonials {padding:20px;}
.one_four_page_content h4, .causes-col h5, .event-content h3 {font-size:15px; line-height:20px;}


}

@media screen and (max-width:1023px){
.toggleMenu{display: block;9999;}
.getaquote{ position:relative; margin:0 auto 5% auto; float:none; display:table;}
.header .header-inner .nav{float:none; margin:1px 0 0 0; padding:0; position:relative; overflow-x:hidden; clear:both;}
.header .header-inner .nav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.header .header-inner .nav ul li{display:block; float:none; text-align:left; padding:0; margin:0;}
.header .header-inner .nav ul li a{padding:5px 15px !important; display:block; color:#000; border-bottom:1px solid  !important; border-right:none; line-height:18px; margin:0;}
.header .header-inner .nav ul li a:hover, .header .header-inner .nav ul li ul li a{color:#ffffff; background:none !important;}
.header .header-inner .nav ul li ul, .header .header-inner .nav ul li ul ul{ display:block !important;}
.header .header-inner .nav ul li a:before, .header .header-inner .nav ul li ul li a:before{content:"\00BB \00a0";}
.header .header-inner .nav ul li ul li a{padding-left:20px !important;}
.header .header-inner .nav ul li ul li ul li a{padding-left:30px !important;}
.header .header-inner .nav ul li ul li:last-child a {border-bottom:solid 1px !important;}
.header .header-inner .nav ul li ul li ul li ul li a{padding-left:40px !important;}
.header .header-inner .nav ul li:hover > ul{ background:none transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0;}
.header .header-inner .nav ul li:hover ul li ul, .header .header-inner .nav ul li:hover ul li:hover > ul, .header .header-inner .nav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.header .header-inner .nav ul li:hover ul li:hover ul, .header .header-inner .nav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
}
